@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  font-family: "IBM Plex Mono", monospace;
}

@theme {
  --animate-blink: blink 1s infinite;
}

@layer base {
  html {
    @apply bg-white text-black transition-colors;
  }

  html.dark {
    @apply bg-black text-white;
  }

  body {
    @apply min-h-screen;
  }
}

@keyframes blink {
  0%,
  50% {
    opacity: 0; /* Cursor invisible at start and end */
  }
  51%,
  100% {
    opacity: 1; /* Cursor visible at midpoint */
  }
}
